

.card{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}


.card-header{
    background-color: #307BCF;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.card-body{
    background-color: #F3F3F3;
}


.card-text{
    font-size: 20px;
    text-align: justify;
    line-height: 2.5rem;
}

.card-text.card-code{
    font-size: 18px;
    text-align: justify;
    line-height: 1.5rem;
    background-color: #1B2A3B;
    color: white;
    font-weight: bold;
    border-radius: 14px 14px 14px 14px;
    box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.75);
}

.card-text.quoted-image{
    text-align: left;
}

.card-text.quoted-text{
    margin-left: 2rem;
}

