.carousel-control-next, .carousel-control-prev{
    background-color: black;    
}


.carousel-control-prev-icon::before{
    content: "\10094"; /* Código Unicode para el carácter '◂' */
    font-size: 25px;
    /* Agrega otros estilos según sea necesario */
}

.carousel-control-next::before{
    content: "\10094"; /* Código Unicode para el carácter '◂' */
    font-size: 25px;
}