input[type="search"]{
    font-size: 1.5rem;
}

.buscador{
    height: 2rem;
}



.concepto{
    background-color: #DFDFDF;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    text-align: justify;
}

.definicion{
    font-size: 18px;
}

.filtro{
    display: none;
}