header {
    background-color: #5B86BA;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex: 1;
    text-align: center;
}

/* Estilo para pantallas más pequeñas (responsivo) */
@media screen and (max-width: 768px) {
    header {
    flex-direction: column;
}

.column {
    margin: 5px 0;
    }
}