.nav-item{
    font-size: 18px;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  
  
  
  /*-----------------#CONTAINERINICIO------------------------*/
  
  #containerInicio {
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
  
    background-color: #4895D7;
    
  
  
    transition: background-color 0.15s linear 0s;
    
  }
  
  
  #containerInicio>a{
    border-radius: 10px;
    color: white;
  }
  
  
  #containerInicio:hover, #containerInicio:hover>a{
    
    background-color: #648AAB;
  
  }
  
  
  /*-----------------#CONTAINERINICIO------------------------*/
  
  
  
  
  
  
  
  
  /*-----------------#CONTAINERDROPDOWN------------------------*/
  
  
  #containerDropdown {
    padding-left: 5px;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.25s linear 0s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
    color: white;
  
    background-color: #4895D7;
  
  }
  
  
  #containerDropdown:hover {
    background-color: #648AAB;
  }
  
  
  
  /*-----------------#CONTAINERDROPDOWN------------------------*/
  
  
  
  
  
  
  
  
  
  /*-----------------#CONTAINERBIBREC------------------------*/
  #containerBibRec {
  
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
    background-color: #4895D7;
  
    transition: background-color 0.25s linear 0s;
    
  }
  
  
  #containerBibRec>a{
    border-radius: 10px;
    color: white;
  }
  
  
  #containerBibRec:hover, #containerBibRec:hover>a{
    
    background-color: #648AAB;
  
  }
  
  
  /*-----------------#CONTAINERBIBREC------------------------*/
  
  
  
  /*-----------------#CONTAINERGLOSARIO------------------------*/
  
  #containerGlosario {
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
    background-color: #648AAB;
    transition: background-color 0.25s linear 0s;
  }
  
  
  #containerGlosario>a{
    border-radius: 10px;
    color: white;
  }
  
  
  #containerGlosario:hover, #containerGlosario:hover>a{
    
    background-color: #4895D7;
  
  }
  
  
  /*-----------------#CONTAINERGLOSARIO------------------------*/
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*-----------------#CONTAINERCONTACTOS------------------------*/
  
  #containerContactos {
  
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
    background-color: #4895D7;
    transition: background-color 0.25s linear 0s;
    
  }
  
  
  #containerContactos>a{
    border-radius: 10px;
    color: white;
  }
  
  
  #containerContactos:hover, #containerContactos:hover>a{
    
    background-color: #648AAB;
  
  }
  
  
  /*-----------------#CONTAINERCONTACTOS------------------------*/
  
  
  
  
  
  
  
  
  /*-----------------#CONTAINERACERCADE------------------------*/
  
  #containerAcercaDe {
  
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
    background-color: #4895D7;
  
    transition: background-color 0.25s linear 0s;
    
  }
  
  
  #containerAcercaDe>a{
    border-radius: 10px;
    color: white;
  }
  
  
  #containerAcercaDe:hover, #containerAcercaDe:hover>a{
    
    background-color: #648AAB;
  
  }
  
  /*-----------------#CONTAINERACERCADE------------------------*/
  

  /*-----------------#CONTAINERMANUAL------------------------*/

#containerManual {

  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
  background-color: #4895D7;

  transition: background-color 0.25s linear 0s;
  
}


#containerManual>a{
  border-radius: 10px;
  color: white;
}


#containerManual:hover, #containerManual:hover>a{
  
  background-color: #648AAB;

}

/*-----------------#CONTAINERMANUAL------------------------*/
  
  
  
  
  
  
  /*-----------------#TOGGLER1-----------------------*/
  
  
  
  
  #toggler1{
    border-width: 1px;
    border-color: black;
    background-color: #4895D7;
    transition: background-color 0.25s linear 0s;
  }
  
  #toggler1:hover {
    background-color: #648AAB;
  }
  
  
  
  /*-----------------#TOGGLER1-----------------------*/