nav{
	font-size: 14px;
	font-weight: bold;
}

.navbar{
	background-color: gray;
}

.navbar-a{
	text-decoration: none;
}

form>.container-fluid{
	background-color: blue;
	color: white;
	margin-right: 5px;
}
