

#sidebar-wrapper>.sidebar-heading.border-bottom.bg-light, .list-group-item, .btn{
    font-size: 15px;
    font-weight: bold;
}

#sidebar-wrapper>.list-group-item{
    margin: 5px;
    background-color: blueviolet;
}
